:root {
  --background: #3b3b3b;
  --about-background: #5a463f;
  --skills-background: #4b3a34;
  --foreground: #e6e6e6;
  --accent-1: #f8d961;
  --accent-2: #b2cd9c;
  --header-button-background: #4d4844;
  --tech-stack-background: #5a463f;
  --button-background: #81951d;
  --navigation-background: #353230;
}

html {scroll-behavior: smooth;}
* {margin: 0; padding: 0; box-sizing: border-box;font-family: 'Inter', sans-serif;}

@media (min-width: 576px) { /* Small devices (landscape phones) */ }
@media (min-width: 992px) { /* Desktops */ }
@media (min-width: 1200px) {
.main-container {width: auto;height: auto;}
.navigation {background: var(--navigation-background);display: grid;font-weight: bold;width: 100%;height: 80px; position: fixed;}
.navigation-content {display:flex;align-items: center;justify-content: space-between;margin: 0 30px;color: var(--accent-1);}
.navigation-logo-container {display: flex;gap: 30px;align-items: center;}
.dev-name {background: var(--header-button-background);padding: 8px 20px;border-radius: 20px;}
.navigation-links {display:flex;gap: 30px;list-style-type: none;}
.navigation-link {padding: 8px 16px;border-radius: 20px;text-decoration: none;color: var(--accent-1);background: var(--header-button-background);}

.home-container {width: 100%; height: 100%;display:grid;gap: 50px;align-content: center;font-size: 18px}
.home-content {display: flex; justify-content: center;gap: 50px;}
.image-container {display: flex; align-items: center;}
.info {color: var(--about-background);display:flex;flex-direction: column;gap:30px;justify-content: center;width: 40%;padding: 50px;border-radius: 20px;}
.occupations ul {width: 100%; height:100%;list-style-type: none;display: flex;flex-flow: row wrap;gap: 10px;}
.occupations li {background: var(--about-background);color: var(--accent-2);padding: 5px 10px;border-radius: 10px;}
.bio p {line-height: 30px;}
.nav-buttons {display:flex;width: 100%;justify-content: left;gap: 20px;}
.image {background: var(--about-background);display: flex; align-items: center;justify-content: center;width: 370px; height: 370px;border-radius: 20px;}
.nav-button {background: var(--button-background);color: var(--foreground);font-weight: bold;border-radius: 20px;text-decoration: none;padding: 10px 20px;}

.about-container {color: var(--foreground);display: flex;flex-direction: column;height: 90%;gap: 5%;justify-content: center;font-size: 18px;}
.about-me, .education-language {display: flex; justify-content: space-evenly;}
.bio-title, .education-header, .interest-header, .language-header {color: var(--accent-1);font-weight: bold;margin-left: 10px;}
.short-bio-container, .language, .education-container, .other-interests {display: flex;flex-direction: column; gap: 10px;}
.section-title {font-weight: bold;color: var(--accent-2);width: 100%;display: flex; justify-content: center;align-items: center;height: 10%;}
.short-bio {background: var(--about-background);padding: 20px;text-align: left;border-radius: 20px;width: 400px;height: 90%;}
.bio {line-height: 20px;}
.interest-list, .education-content, .language-content {background: var(--about-background);display: flex;flex-direction: column;gap: 15px;width: 400px;padding: 20px 30px;border-radius: 20px;height: 90%;}
.bio-highlight {color: var(--accent-2);}
.college ul {padding-left: 20px;color: #b3b3b3;}
.certificate ul {padding-left: 20px;color: #b3b3b3;}
.interest-list ul {padding-left: 20px;display: flex;flex-direction: column;gap: 15px;}

.projects-container {color: var(--foreground);display: grid;place-items: center;gap: 70px;}
.skills-header {color: var(--accent-1);font-weight: bold;}
.skills-container {display: grid;place-items: center;gap: 10px;align-items: center;height: 10%;}
.skills-list ul {list-style-type: none;display: flex;flex-direction: row;gap: 20px;}
.skills-list li {background: var(--skills-background);padding: 5px 20px;border-radius: 10px;}
.projects {display: flex;justify-content: space-evenly;}
.projectvantage, .e-commerce {background: var(--skills-background);width: 40%;display: flex;flex-direction: column;gap: 20px;padding: 30px 40px;border-radius: 30px;align-content: center;}
.title {color: var(--accent-1);font-weight: bold;}
.tech-stack ul {display:flex;flex-flow: row wrap;gap: 20px;}
.tech-stack li {color: var(--accent-2);background: var(--tech-stack-background);padding: 5px 10px; list-style-type: none;border-radius: 10px;}
.description {line-height: 35px;margin-bottom: 20px;}
.view-source a {color: var(--foreground);background: var(--button-background);text-decoration: none;padding:10px 30px;font-weight: bold;border-radius: 20px;}

.contact-container {background: var(--background);color: var(--foreground);width: 100%; height: 100%;display: flex;flex-direction: column;gap: 30px;justify-content: center;align-items: center;}
.contact-header {color: var(--accent-1);font-weight: bold;}
.email-address {color: var(--accent-2);}
.email-button {background: var(--header-button-background);padding: 10px 30px;border-radius: 20px;}
.email-button a {color: var(--accent-1);text-decoration: none;font-weight: bold;}
.other-social-links {width: 100%;height: 100%;display:flex;align-items: center;justify-content: center;gap: 10px;}

.footer-content {width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;}

#contact {height: 40%;width: 100%}
#home {padding-top: 80px;}
#about, #projects {height: 100vh;width: 100%;padding-top: 80px;}
#footer {background: var(--background);color: var(--foreground);width: 100%;height: 30px;text-align: center;}
}


